h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
}
body{
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
}
.logoweb{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logostudio{
    color:#2E2F42;
    text-decoration: none;
}
.navinfo{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.address{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-decoration: none;
}
.address:hover{
    color: #404bbf;
}
.address:focus{
    color: #404bbf;
}
#features{
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    margin-top: 72px;
}
